@import url("https://fonts.googleapis.com/css?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Rancho&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One|Fredericka+the+Great|Rancho&display=swap");
.me{
      
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    font-weight: 200px;
    color: aliceblue;
    margin-top: 13%;
    font-family: 'Rancho', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 500px) {
    navbar a {
      
      display: block;
    }
 @media only screen and (max-width: 200px){
        #container{
            background-color: black;
            color: white;
        }  
    }
.pic{
    width: 300px;
    height: 300px;
    float: left;
    }
.pic img{
    width: 300px;
}
h1{
    text-align: center;
    color: orange;
    font-size: 50px;
    font-family: 'Carter One', cursive;
}
.flex{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  
}
.about{
    box-shadow: 5px 5px 10px gray;
    width: 300px;
    padding: 10px;
}
.card{
    box-shadow: 5px 5px 10px gray;
    
}
.card-body ul li{
    list-style: lower-roman;
}
.about:hover{
    transform: scale(1.1);
}

.list-skills{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}
#skills{
    margin-top: 20px;
}
.project{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}
#project{
    margin-top: 50px;
    margin-bottom: 50px;
}
.active {
    background-color: #4CAF50;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen)*/
.icon-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;#555;
    overflow: auto;
    
}
.navbar{
    background-color: chartreuse;
}
